html,body{
    width: 100%;
    height: 100%;
}
*{
    font-family: "Gilroy";
    margin: 0;
    padding: 0;
}
#main
{
    display: flex;
    width: 100%;
    height: 100%;
}
#left{
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1542393545-10f5cde2c810?q=80&w=465&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 100%;
    width: 50%;
    background-size: cover;
    background-color: black;
}
#right{
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1491933382434-500287f9b54b?q=80&w=464&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    height: 100%;
    width: 50%;
    background-size: cover;
    
}
#rcover{
    background-color: rgba(255, 255, 255, 0.425);
    width: 100%;
    height: 100%;
}
#lcover{
    background-color: rgba(0, 0, 0, 0.562);
    width: 100%;
    height: 100%;
}
#left h1{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
    letter-spacing: 10px;
}
#left button{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 235, 205, 0);
    border: 1px solid ;
}
#right button{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100px;
    height: 50px;
    color: rgb(0, 0, 0);
    border: 1px solid  black;
    background-color: rgba(0, 0, 0, 0);
}
#right h1{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100px;
    height: 100px;
    color: black;
    text-align: center;
    letter-spacing: 10px;
}
#left p{
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
}
#right p{
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100px;
    height: 100px;
    color: black;
    text-align: center;
}
#left button, #right button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#left button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#right button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}